model_v0_mtg_meteofrance:
  log_every_n_steps: 5
  save_every_n_epochs: 5
  model_dir: "models/"
  parametrization: "endpoint"
  batch_size: 128
  learning_rate: 0.001
  num_epochs: 200
  seed: 42
  gradient_clip_value: 1.0
  dataset_path: "/workspace/dataset"

model_v0_mtg_lightning:
  log_every_n_steps: 5
  save_every_n_epochs: 5
  model_dir: "models/"
  parametrization: "standard"
  batch_size: 64
  learning_rate: 0.001
  num_epochs: 200
  seed: 42
  gradient_clip_value: 1.0
  dataset_path: "/workspace/dataset"
  model:
    sat_in_channels: 12
    kpi_in_channels: 1
    sat_out_channels: 12
    kpi_out_channels: 1
    additional_channels: 3
    features: [32, 64, 128, 256]
    context_dim: 4
    embedding_dim: 128
    context_frames: 4
    num_additional_resnet_blocks: 2
    time_emb_dim: 64

model_v0_mtg_lightning_shortcut:
  log_every_n_steps: 5
  save_every_n_epochs: 5
  model_dir: "models/"
  parametrization: "standard"
  batch_size: 64
  learning_rate: 0.001
  num_epochs: 200
  seed: 42
  gradient_clip_value: 1.0
  dataset_path: "/workspace/dataset"
  model:
    sat_in_channels: 12
    kpi_in_channels: 1
    sat_out_channels: 12
    kpi_out_channels: 1
    additional_channels: 3
    features: [32, 64, 128, 256]
    context_dim: 5
    embedding_dim: 128
    context_frames: 4
    num_additional_resnet_blocks: 2
    time_emb_dim: 64


model_v0_mtg_world_lightning_shortcut:
  log_every_n_steps: 5
  save_every_n_epochs: 5
  model_dir: "models/"
  parametrization: "standard"
  interpolation: "linear"
  batch_size: 64
  learning_rate: 0.001
  num_epochs: 200
  seed: 42
  sigma_noise_input: 0.
  gradient_clip_value: 1.0
  dataset_path: "/workspace/dataset"
  model:
    sat_in_channels: 16
    kpi_in_channels: 1
    sat_out_channels: 16
    kpi_out_channels: 1
    additional_channels: 3
    features: [32, 64, 128, 256]
    context_dim: 5
    embedding_dim: 128
    context_frames: 4
    num_additional_resnet_blocks: 2
    time_emb_dim: 64

model_v1_mtg_world_lightning_shortcut:
  log_every_n_steps: 5
  save_every_n_epochs: 5
  model_dir: "models/"
  parametrization: "standard"
  interpolation: "polynomial"
  batch_size: 128
  learning_rate: 0.001
  num_epochs: 200
  seed: 42
  sigma_noise_input: 0.01
  gradient_clip_value: 1.0
  dataset_path: "/workspace/dataset"
  model:
    sat_in_channels: 16
    kpi_in_channels: 1
    sat_out_channels: 16
    kpi_out_channels: 1
    additional_channels: 3
    features: [32, 64, 128, 256]
    context_dim: 5
    embedding_dim: 128
    context_frames: 4
    num_additional_resnet_blocks: 2
    time_emb_dim: 64


model_v2_mtg_world_lightning_shortcut:
  log_every_n_steps: 5
  save_every_n_epochs: 5
  model_dir: "models/"
  parametrization: "standard"
  interpolation: "linear"
  batch_size: 128
  learning_rate: 0.001
  num_epochs: 200
  seed: 42
  sigma_noise_input: 0.01
  gradient_clip_value: 1.0
  dataset_path: "/workspace/dataset"
  model:
    sat_in_channels: 16
    kpi_in_channels: 1
    sat_out_channels: 16
    kpi_out_channels: 1
    additional_channels: 3
    features: [32, 64, 128, 256]
    context_dim: 5
    embedding_dim: 128
    context_frames: 4
    num_additional_resnet_blocks: 2
    time_emb_dim: 64


model_v3_mtg_world_lightning_shortcut:
  log_every_n_steps: 5
  save_every_n_epochs: 5
  model_dir: "models/"
  parametrization: "standard"
  interpolation: "polynomial"
  batch_size: 64
  learning_rate: 0.001
  num_epochs: 200
  seed: 42
  gen_steps: 4
  sigma_noise_input: 0.01
  gradient_clip_value: 1.0
  dataset_path: "/workspace/dataset"
  model:
    sat_in_channels: 16
    kpi_in_channels: 1
    sat_out_channels: 16
    kpi_out_channels: 1
    additional_channels: 3
    features: [32, 64, 128, 256]
    context_dim: 5
    embedding_dim: 128
    context_frames: 4
    num_additional_resnet_blocks: 2
    time_emb_dim: 64
  model_correction:
    sat_in_channels: 16
    kpi_in_channels: 1
    sat_out_channels: 16
    kpi_out_channels: 1
    additional_channels: 3
    features: [32, 64, 128, 256]
    context_dim: 5
    embedding_dim: 128
    context_frames: 2
    num_additional_resnet_blocks: 2
    time_emb_dim: 64



model_v4_mtg_world_lightning_shortcut:
  log_every_n_steps: 5
  save_every_n_epochs: 5
  model_dir: "models/"
  parametrization: "standard"
  interpolation: "polynomial"
  batch_size: 256
  learning_rate: 0.001
  num_epochs: 200
  seed: 42
  gen_steps: 4
  sigma_noise_input: 0.01
  gradient_clip_value: 1.0
  residual: False
  dataset_path: "/workspace/dataset"
  model:
    sat_in_channels: 16
    kpi_in_channels: 1
    sat_out_channels: 16
    kpi_out_channels: 1
    additional_channels: 3
    features: [32, 64, 128, 256]
    context_dim: 5
    embedding_dim: 128
    context_frames: 4
    num_additional_resnet_blocks: 2
    time_emb_dim: 64